.searchResults {
    margin: auto;
    max-width:980px;
    padding: 16px;
}

.blogpostSearchResult {
    width: 100%;
    display: inline-block;
    padding: 16px;
}

.blogpostSearchResult:hover {
    background-color: #DDDDDD;
}

.blogpostSearchResult .thumbnail {
    width: 100%;
    object-fit: cover;
    box-shadow: 3px 3px 3px 3px #ccc;
}

.blogpostSearchResult .body {
    width: 100%;
    padding: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (min-width:601px) {
    .blogpostSearchResult .thumbnail {
        width: 25%;
        /* height: 150px; */
        float: left;
    }

    .blogpostSearchResult .body {
        width: 74.99999%;
        /* height: 150px; */
        float: left;
        padding-left: 16px;
    }
}

.blogpostSearchResult .postLink {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
}